apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Values.ocpConsoleEmbed.name }}
rules:
  # Patch default IngressController to strip iframe-blocking headers
  - apiGroups:
      - operator.openshift.io
    resources:
      - ingresscontrollers
    verbs:
      - get
      - patch
  # Patch OAuth route with reencrypt TLS
  - apiGroups:
      - route.openshift.io
    resources:
      - routes
    verbs:
      - get
      - patch
  # Read service CA cert from openshift-authentication
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
