---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.ocpConsoleEmbed.namespace }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.ocpConsoleEmbed.name }}
  namespace: {{ .Values.ocpConsoleEmbed.namespace }}
