{{- $guid := .Values.deployer.guid }}
{{- if .Values.components.showroom.enabled }}
{{- if gt (int .Values.numUsers) 0 }}
{{- /* Multi-user: create showroom-{guid}-user1 through showroom-{guid}-userN */}}
{{- range $i := until (int $.Values.numUsers) }}
{{- $userNum := add $i 1 }}
{{- /* Merge per-user data into shared showroom values */}}
{{- $shared := deepCopy (index $.Values.components.showroom.values "showroom") }}
{{- $perUser := dict "user" (printf "user%d" (int $userNum)) "password" (default "" $.Values.userPassword) }}
{{- $_ := set $shared "userdata" (merge $perUser (default dict $shared.userdata)) }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: showroom-{{ $guid }}-user{{ $userNum }}
  namespace: {{ $.Values.argocd.namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ $.Values.argocd.project }}
  source:
    repoURL: {{ $.Values.repoUrl }}
    targetRevision: {{ $.Values.revision }}
    path: {{ $.Values.components.showroom.path }}
    helm:
      valuesObject:
        deployer:
          domain: {{ $.Values.deployer.domain | quote }}
        demo:
          namespace: {{ $.Values.demo.namespace | quote }}
          appName: {{ $.Values.demo.appName | quote }}
        showroom:
          namespace: showroom-{{ $guid }}-user{{ $userNum }}
          {{- toYaml $shared | nindent 10 }}
  destination:
    server: {{ $.Values.argocd.destination.server }}
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
{{- end }}
{{- else }}
{{- /* Single admin user -- set user/password from global admin creds */}}
{{- $shared := deepCopy (index .Values.components.showroom.values "showroom") }}
{{- $ud := default dict $shared.userdata }}
{{- $perUser := dict "user" (default "admin" (index $ud "openshift_cluster_admin_username")) "password" (default "" (index $ud "openshift_cluster_admin_password")) }}
{{- $_ := set $shared "userdata" (merge $perUser $ud) }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: showroom-{{ $guid }}-admin
  namespace: {{ .Values.argocd.namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ .Values.argocd.project }}
  source:
    repoURL: {{ .Values.repoUrl }}
    targetRevision: {{ .Values.revision }}
    path: {{ .Values.components.showroom.path }}
    helm:
      valuesObject:
        deployer:
          domain: {{ .Values.deployer.domain | quote }}
        demo:
          namespace: {{ .Values.demo.namespace | quote }}
          appName: {{ .Values.demo.appName | quote }}
        showroom:
          namespace: showroom-{{ $guid }}-admin
          {{- toYaml $shared | nindent 10 }}
  destination:
    server: {{ .Values.argocd.destination.server }}
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
{{- end }}
{{- end }}
{{- if .Values.components.ocpConsoleEmbed.enabled }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ocp-console-embed-{{ $guid }}
  namespace: {{ .Values.argocd.namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ .Values.argocd.project }}
  source:
    repoURL: {{ .Values.repoUrl }}
    targetRevision: {{ .Values.revision }}
    path: {{ .Values.components.ocpConsoleEmbed.path }}
    helm:
      valuesObject:
        deployer:
          domain: {{ .Values.deployer.domain | quote }}
        ocpConsoleEmbed:
          name: ocp-console-embed-{{ $guid }}
          namespace: ocp-console-embed-{{ $guid }}
  destination:
    server: {{ .Values.argocd.destination.server }}
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
{{- end }}
